.confident {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}

.confient__text {
  font-family: "NanumSquareNeoExtraBold";
  font-size: var(--font-40);
  color: var(--main-color);
  margin-bottom: 100px;
  margin-top: 30px;
}
.confident__cardwrap {
  display: flex;
  gap: 100px;
}

.confident__card {
  width: 432px;
  border-radius: var(--gap-16);
  display: flex;
  position: relative;
  justify-content: center;
}

.confident__card > img {
  border-radius: var(--gap-16);
}

.confident__cardTag {
  width: 100%;
  height: 80px;
  background-color: #c8d98e;
  position: absolute;
  bottom: 30px;
  border-radius: var(--gap-16);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-18);
  font-weight: 900;
  color: var(--sub-color);
}

.cardcolor__green {
  background-color: #e6e9bf;
}

.cardcolor__pink {
  background-color: #ffdecc;
}

.cardcolor__yellow {
  background-color: #f8e6c3;
}
